{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }

    @media screen and (max-width: 767px) {

      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top-mobile }}px;
        padding-bottom: {{ section.settings.padding_bottom-mobile }}px;
      }

    }
{%- endstyle -%}

<footer
  class="footer section-{{ section.id }}-padding"
  style="background-color: {{ section.settings.background_color }};"
>
  <div class="footer__wrapper">
    {% comment %} Logo and social block {% endcomment %}
    <div class="footer__brand-info">
      {% comment %} Logo {% endcomment %}
      {%- if section.settings.footer_logo != blank -%}
        <div class="footer-logo">
          {{
            section.settings.footer_logo
            | image_url: width: 1100
            | image_tag:
              loading: 'lazy',
              height: section.settings.footer_logo.height,
              width: section.settings.footer_logo.width
          }}
        </div>
      {%- endif -%}

      {% comment %} Social media {% endcomment %}
      <div class="footer-social-block">
        {%- if section.settings['social-title'] != blank -%}
          <p>{{ section.settings['social-title'] }}</p>
        {%- endif -%}

        {%- if section.blocks.size > 0 -%}
          {%- for block in section.blocks -%}

            {% style %}
              .footer-social-block__icon--{{ block.id }}:hover {
                border: 1px solid {{ block.settings.icon-hover }};
                background: {{ block.settings.icon-hover }};
              }
            {% endstyle %}
  
            {%- if block.settings.social_icon != blank -%}
              <a
                class="footer-social-block__icon footer-social-block__icon--{{ block.id }}"
                href="{{ block.settings.social_link }}"
                aria-label="{{ block.settings.title }}"
              >
                {{ block.settings.social_icon }}
              </a>
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      
      </div>
    </div>

    {% comment %} Navigation {% endcomment %}
    {%- if section.blocks.size > 0 -%}
      <div class="footer-navigation">
        {%- for block in section.blocks -%}
          {%- if block.type == 'link_lists' -%}
            <div class="footer-navigation__links">
              {%- if block.settings.title != blank -%}
                <h2 class="footer-navigation__link-title">
                  {{ block.settings.title }}
                </h2>
              {%- endif -%}

              {%- if block.settings.footer_menu != blank -%}
                <ul class="footer-navigation__link">
                  {%- for link in block.settings.footer_menu.links -%}
                    <li>
                      <a href="{{ link.url }}">
                        {{ link.title }}
                      </a>
                    </li>
                  {%- endfor %}
                  {%- if block.settings.split_text != blank -%}
                    <li class="footer-navigation__split-link">
                      {{ block.settings.split_text }}
                    </li>
                  {%- endif -%}
                </ul>
              {%- endif -%}
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "social_media",
      "name": "Social media",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "social_icon",
          "label": "Social icon (SVG Code)"
        },
        {
          "type": "color",
          "id": "icon-hover",
          "label": "Hover"
        },
        {
          "type": "url",
          "id": "social_link",
          "label": "URL"
        }
      ]
    },
    {
      "type": "link_lists",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "link_list",
          "id": "footer_menu",
          "label": "Menu"
        },
        {
          "type": "inline_richtext",
          "id": "split_text",
          "label": "Split links"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Section settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_top-mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding top (mobile)",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom-mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom (mobile)",
      "default": 36
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "header",
      "content": "Footer logo"
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Logo"
    },
    {
      "type": "header",
      "content": "Social media"
    },
    {
      "type": "text",
      "id": "social-title",
      "label": "Title"
    }
  ]
}
{% endschema %}
