{{ 'section-hero-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .aspect-ratio-container-{{ section.id }} {
    {%- if section.settings.image_height == "large" -%}
      aspect-ratio: 1440/656;
    {%- elsif section.settings.image_height == "medium"-%}
      aspect-ratio: 750/300;
    {%- elsif section.settings.image_height == "extra-large"-%}
      aspect-ratio: 1440/960;
    {%- endif -%}
  }

  .hero-content__title-{{ section.id }}{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: {{ section.settings.alignment_content_horizontal }};
    {% if section.settings.alignment_content_vertical == 'top' %}
      top: 0;
      transform: translateX(-50%);
    {% elsif section.settings.alignment_content_vertical == 'bottom' %}
      top: unset;
      bottom: 0;
      transform: translateX(-50%);
    {% endif %}
  }
  @media screen and (min-width: 768px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign image_mobile = section.settings.image_mobile
  assign video_mobile = section.settings.video_mobile

  assign image_desktop = section.settings.image_desktop
  assign video_desktop = section.settings.video_desktop

  if video_mobile == blank and image_mobile == blank and video_desktop != blank
    assign video_mobile = video_desktop
  endif

  if image_mobile == blank and image_desktop != blank
    assign image_mobile = image_desktop
  endif
-%}

{%- capture mobile_placeholder -%}
  <div class="media-container__placeholder">
    {{ 'collection-1' | placeholder_svg_tag }}
  </div>
{%- endcapture -%}

{%- capture desktop_placeholder -%}
  <div class="media-container__placeholder">
    {{ 'lifestyle-2' | placeholder_svg_tag }}
  </div>
{%- endcapture -%}

<div class="section-{{ section.id }}-padding">
  <div class="hero-content">
    <div class="hero-content__media media-container" style="display: contents;">
      <div class="media-container__mobile-container aspect-ratio-container-{{ section.id }}">
        {%- liquid
          if video_mobile != blank
            echo video_mobile | video_tag: autoplay: true, loop: true, muted: true, controls: false, class: 'media-container__video-mobile'
          elsif image_mobile != blank
            render 'image-banner', image: image_mobile, class: 'media-container__image-mobile'
          else
            echo mobile_placeholder
          endif
        -%}
      </div>
      <div class="media-container__desktop-container aspect-ratio-container-{{ section.id }}">
        {%- liquid
          if video_desktop != blank
            echo video_desktop | video_tag: autoplay: true, loop: true, muted: true, controls: false, class: 'media-container__video-desktop'
          elsif image_desktop != blank
            render 'image-banner', image: section.settings.image_desktop, class: 'media-container__image-desktop'
          else
            echo desktop_placeholder
          endif
        -%}
      </div>
    </div>
    <div class="hero-content__title-{{ section.id }} title-wrapper">
      <div class="title-wrapper__content">
        {{ section.settings.title }}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.hero-banner.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "t:sections.hero-banner.settings.media_settings.content"
    },
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "t:sections.hero-banner.settings.image_desktop.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.hero-banner.settings.image_mobile.label"
    },
    {
      "type": "video",
      "id": "video_desktop",
      "label": "t:sections.hero-banner.settings.video_desktop.label"
    },
    {
      "type": "video",
      "id": "video_mobile",
      "label": "t:sections.hero-banner.settings.video_mobile.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "medium",
          "label": "t:sections.hero-banner.settings.image_height.options__1.label"
        },
        {
          "value": "large",
          "label": "t:sections.hero-banner.settings.image_height.options__2.label"
        },
        {
          "value": "extra-large",
          "label": "t:sections.hero-banner.settings.image_height.options__3.label"
        }
      ],
      "default": "large",
      "label": "t:sections.hero-banner.settings.image_height.label"
    },
    {
      "type": "header",
      "content": "t:sections.hero-banner.settings.text_settings.content"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "t:sections.hero-banner.settings.title.label"
    },
    {
      "type": "select",
      "id": "alignment_content_horizontal",
      "options": [
        {
          "value": "left",
          "label": "t:sections.hero-banner.settings.alignment_content_horizontal.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.hero-banner.settings.alignment_content_horizontal.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.hero-banner.settings.alignment_content_horizontal.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.hero-banner.settings.alignment_content_horizontal.label"
    },
    {
      "type": "select",
      "id": "alignment_content_vertical",
      "options": [
        {
          "value": "top",
          "label": "t:sections.hero-banner.settings.alignment_content_vertical.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.hero-banner.settings.alignment_content_vertical.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.hero-banner.settings.alignment_content_vertical.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.hero-banner.settings.alignment_content_vertical.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.hero-banner.name"
    }
  ]
}
{% endschema %}
