{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 769px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="rich-text section-{{ section.id }}-padding">
  {% for block in section.blocks %}
    {% liquid
      assign padding_top = block.settings.padding_top
      assign padding_bottom = block.settings.padding_bottom
      assign background_color = block.settings.background_color
      assign divider = block.settings.divider
      assign title = block.settings.title
      assign description = block.settings.description
      assign button_text = block.settings.button_text
      assign button_link = block.settings.button_link
    %}

    <style>
      .rich-text__block-{{ forloop.index }} {
        padding-top: {{ padding_top }}px;
        padding-bottom: {{ padding_bottom }}px;
        background-color: {{ background_color }};

        {% if divider %}
          border-bottom: solid 1px #959595;
        {%- endif -%}
      }
    </style>

    <div class="rich-text__block rich-text__block-{{ forloop.index }}">
      {% if title != blank %}
        {{ title }}
      {% endif %}
      {% if description != blank %}
        {{ description }}
      {% endif %}
      {% if button_text != blank %}
        <a class="custom-button" href="{{ button_link }}">{{ button_text }}</a>
      {% endif %}
    </div>
    
  {% endfor %}
</div>

{% schema %}
{
  "name": "t:sections.rich-text.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks_name",
      "limit": 3,
      "settings": [
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 40
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 52
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "t:sections.rich-text.blocks.background.label",
          "default": "#fff"
        },
        {
          "type": "checkbox",
          "id": "divider",
          "label": "t:sections.rich-text.blocks.divider.label",
          "default": false
        },
        {
          "type": "richtext",
          "id": "title",
          "default": "<p>Title</p>",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "description",
          "default": "<p>Description</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        },
        {
          "type": "header",
          "content": "t:sections.rich-text.blocks.buttons.name"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.rich-text.blocks.buttons.settings.button.label",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_url.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text.presets.name"
    }
  ]
}
{% endschema %}
