{{ 'section-store-locator.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;

  }


  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .location-wrapper::after {
    {% if section.settings.divider %}
        content: "";
        background: #959595;
        height: 1px;
        width: 70%;
        margin: 90px auto;
        display: block;
    {%- endif -%}
  }
{%- endstyle -%}

<div class="store-locator section-{{ section.id }}-padding">
  <div class="location-wrapper">
    <h2 class="location-wrapper__title">
      {{ section.settings.heading }}
    </h2>
    <div class="location-wrapper__content map">
      <div class="map__content">
        {{ section.settings.block_content }}
      </div>
    </div>
    <div class="location-wrapper__description description">
      {% for block in section.blocks %}
        <div class="description__block">
          <h2 class="description__block-title">{{ block.settings.title }}</h2>
          {{ block.settings.description }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.custom_map.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    },
    {
      "type": "header",
      "content": "t:sections.custom_map.settings.map_general.content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.custom_map.settings.heading.label"
    },
    {
      "type": "html",
      "id": "block_content",
      "label": "t:sections.custom_map.settings.map_iframe.label"
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.custom_map.settings.divider.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:sections.custom_map.blocks.text.name",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.custom_map.blocks.text.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.custom_map.blocks.text.settings.description.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom_map.presets.name"
    }
  ]
}
{% endschema %}
