{{ 'section-text-with-background.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 992px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="custom-text section-{{ section.id }}-padding">
  {% for block in section.blocks %}
    {% liquid
      assign padding_top_desktop = block.settings.padding_top_desktop
      assign padding_bottom_desktop = block.settings.padding_bottom_desktop
      assign padding_top_mobile = block.settings.padding_top_mobile
      assign padding_bottom_mobile = block.settings.padding_bottom_mobile

      assign background_color = block.settings.background_color
      assign title = block.settings.title
      assign font_size_desktop = block.settings.font_size_desktop
      assign font_size_mobile = block.settings.font_size_mobile
      assign margin_desktop = block.settings.margin_desktop
      assign margin_mobile = block.settings.margin_mobile
      assign description = block.settings.description
      assign button_text = block.settings.button_text
      assign button_link = block.settings.button_link
    %}

    <style>
      .custom-text__block-{{ section.id }}-{{ forloop.index }} {
        background-color: {{ background_color }};
      }

      .custom-text__block-{{ section.id }}-{{ forloop.index }} {
        padding-top: {{ padding_top_desktop }}px;
        padding-bottom: {{ padding_bottom_desktop }}px;
      }

      .custom-text__title-{{ section.id }} {
        font-size: {{ font_size_mobile }}px;
        margin-bottom: {{ margin_mobile }}px;
      }

      @media screen and (min-width: 992px) {
        .custom-text__block-{{ section.id }}-{{ forloop.index }} {
          padding-top: {{ padding_top_mobile }}px;
          padding-bottom: {{ padding_bottom_mobile }}px;
        }

        .custom-text__title-{{ section.id }} {
          font-size: {{ font_size_desktop }}px;
          margin-bottom: {{ margin_desktop }}px;
        }
      }
    </style>

    <div class="custom-text__block custom-text__block-{{ section.id }}-{{ forloop.index }}">
      <div class="custom-text__block--content-{{ section.id }} custom-text__block--content">
        {% if title != blank %}
          <h2 class="custom-text__title-{{ section.id }} custom-text__title">{{ title }}</h2>
        {% endif %}
        {% if description != blank %}
          {{ description }}
        {% endif %}
        {% if button_text != blank %}
          <a class="custom-button" href="{{ button_link }}">{{ button_text }}</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "t:sections.custom-text.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.custom-text.blocks_name",
      "limit": 3,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.all.padding.padding_heading_desktop"
        },
        {
          "type": "range",
          "id": "padding_top_mobile",
          "min": 0,
          "max": 120,
          "step": 2,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 40
        },
        {
          "type": "range",
          "id": "padding_bottom_mobile",
          "min": 0,
          "max": 120,
          "step": 2,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 52
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.padding_heading_mobile"
        },
        {
          "type": "range",
          "id": "padding_top_desktop",
          "min": 0,
          "max": 120,
          "step": 2,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 40
        },
        {
          "type": "range",
          "id": "padding_bottom_desktop",
          "min": 0,
          "max": 120,
          "step": 2,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 52
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "t:sections.custom-text.blocks.background.label",
          "default": "#fff"
        },
        {
          "type": "header",
          "content": "t:sections.custom-text.blocks.heading.name"
        },
        {
          "type": "text",
          "id": "title",
          "default": "<h2>Title</h2>",
          "label": "t:sections.custom-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "range",
          "id": "font_size_desktop",
          "min": 20,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "t:sections.custom-text.blocks.heading.settings.font-size-desktop.label",
          "default": 37
        },
        {
          "type": "range",
          "id": "font_size_mobile",
          "min": 12,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "t:sections.custom-text.blocks.heading.settings.font-size-mobile.label",
          "default": 20
        },
        {
          "type": "range",
          "id": "margin_desktop",
          "min": 0,
          "max": 60,
          "step": 1,
          "unit": "px",
          "label": "t:sections.custom-text.blocks.heading.settings.margin_desktop.label",
          "default": 46
        },
        {
          "type": "range",
          "id": "margin_mobile",
          "min": 0,
          "max": 60,
          "step": 1,
          "unit": "px",
          "label": "t:sections.custom-text.blocks.heading.settings.margin_mobile.label",
          "default": 20
        },
        {
          "type": "richtext",
          "id": "description",
          "default": "<p>Description</p>",
          "label": "t:sections.custom-text.blocks.text.settings.text.label"
        },
        {
          "type": "header",
          "content": "t:sections.custom-text.blocks.buttons.name"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.custom-text.blocks.buttons.settings.button.label",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.custom-text.blocks.buttons.settings.button_url.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom-text.presets.name"
    }
  ]
}
{% endschema %}
